* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  background-color: #f4f4f3;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  flex-direction: row;
}
.navbar img{

}

.burger{
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  transition: 1s;
}
.burger ::after{
  transition: 1s;
}


.line {
  width: 100%;
  height: 3px;
  background: #fff;
}

.menu {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 15px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}


/* first page */

.div-one {
  width: 100%;
  height: 100vh;
}
.starting-txt {
  margin-top: 100px;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.its-me {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hello {
  font-size: 70px;
  color: gray;
  z-index: -2;
}
.danny {
  font-weight: bold;
  font-size: 70px;
  color: deeppink;
  letter-spacing: 4px;
  z-index: -2;
  pointer-events: none;
}
.danny:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-left: 2px solid deeppink;
  animation: animate 4s steps(12) infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.social {
  width: 20%;
  display: flex;
  justify-content: space-around;
  }
/* .facebook{ 
  border: 1px solid #000;
  border-radius: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000;
} */
.facebook:hover {
  color: blue;
  transition: 0.4s;
 }
/* .instagram{ 
  border: 1px solid #000;
  border-radius: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000;
} */
.instagram:hover {
  color: deeppink;
  transition: 0.4s;
}
/* .telegram{
  border: 1px solid;
  border: 1px solid #000;
  border-radius: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #000;
} */
.telegram:hover {
  color: blue;
  transition: 0.4s;
}
/* .gmail{
  border: 1px solid;
  border-radius: 100%;
  width: 20%;
  background-color: #000;
  color: white;
} */
.gmail:hover {
  color: red;
  transition: 0.4s;
}
.description {
  margin-top: 5px;
}
.programmer {
  color: red;
}

.start-img {
  z-index: 1;
  width: 47%;
  float: right;
  top: 0;
  height: 90vh;
  opacity: 0;
  object-fit: contain;
}
.go-to-personal{
  margin-top: 20px;
}
.btn-1 {
  padding: 10px;
  width: 150px;
  border: 1px solid black;
  background: white;
  box-shadow: inset 0 0 0 #000;
  transition: ease-out 0.3s;
  outline: none;
}
.btn-1:hover {
  box-shadow: inset 150px 0 0 0 #000;
  color: white;
}
/*education div*/

.div-two {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f3;
}
#education{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.edu-box-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}
#edu-p-tag {
  text-align: center;
}
#edu-p-tag p{
  font-size: 36px;
}
.element-edu{
  width: 100%;
  height: auto;
  position: relative;
  display: none;
}
.element-edu img{
  width: 100%;
}
.school{
  position: absolute;
  z-index: -1 ;
}
.education-box-one {
  width: 26%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 0.6s;
}
.education-box-one:hover {
  transition: 0.4s;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.education-description{
  padding: 40px 20px 0 20px ;
}
.education-box-two {
  width: 26%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 0.6s;
}
.education-box-two:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s;
}
.education-box-three {
  width: 26%;
  /* height: 49vh; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: 0.6s;
  overflow: hidden;

}
.education-box-three:hover {
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.school-name {
  display: flex;
  justify-content: space-around;
  padding: 0 10px 0 10px ;
}

/*experience*/

.div-three {
  background-color: #f4f4f4;
  text-align: center;
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exp-card-1{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 84px;
}
.exp-card-2{
  gap: 84px;
}
.exp-txt {
  font-size: 36px;
}
.experience{
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-cart-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.4s;
}
.experience-cart-one:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s;

}
.honest-logo {
  width: 100%;
  height: 100%;
}
.honest-h {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.honest-h1 {
  color: #ff4d4d;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.honest-web-btn {
  padding: 5px;
  width: 130px;
  border: 1px solid black;
  background: white;
  box-shadow: inset 0 0 0 #000;
  transition: ease-out 0.3s;
  outline: none;
  
}
.honest-web-btn:hover {
  box-shadow: inset 150px 0 0 0 #ff4d4d;
  color: white;
}

.experience-cart-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.4s;
}
.experience-cart-two:hover
{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s;
}
.phone-market-img{
  width: 100%;
  height: 95%;
  object-fit: cover;
}
.phone-market-logo{
  width: 100%;
  height: 100%;
}
.market-h{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%; 
}
.market-h1{
  color: #ff4d4d;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.market-web-btn{
  padding: 5px;
  width: 130px;
  border: 1px solid black;
  background: white;
  box-shadow: inset 0 0 0 #000;
  transition: ease-out 0.3s;
  outline: none;
}
.market-web-btn:hover {
  box-shadow: inset 150px 0 0 0 #ff4d4d;
  color: white;
}
.experience-cart-three{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.4s;
}
.experience-cart-three:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s;
}
.biology-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.biology-logo{
  width: 100%;
  height: 100%;
}
.biology-h{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.biology-h1{
  color: #ff4d4d;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.biology-web-btn{
  padding: 5px;
  width: 130px;
  border: 1px solid black;
  background: white;
  box-shadow: inset 0 0 0 #000;
  transition: ease-out 0.3s;
  outline: none;
}
.biology-web-btn:hover{
  box-shadow: inset 150px 0 0 0 #ff4d4d;
  color: white;
}
.experience-cart-four{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: 0.4s;
}
.experience-cart-four:hover{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.4s;
}
.intern-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intern-logo{
  width: 100%;
  height: 100%;
}
.intern-h{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.intern-h1{
  color: #ff4d4d;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.intern-web-btn{
  padding: 5px;
  width: 130px;
  border: 1px solid black;
  background: white;
  box-shadow: inset 0 0 0 #000;
  transition: ease-out 0.3s;
  outline: none;
}
.intern-web-btn:hover{
  box-shadow: inset 150px 0 0 0 #ff4d4d;
  color: white;
}
.exp-card-1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 100px 0 100px;
  margin-top: 36px;
}
.exp-card-2{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 100px 0 100px;
  margin-top: 36px;
}
.div-four{
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 32px;
}
.ach-container{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.achievements{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  
}
.achievements img{
  width: 50%;
  height: 50%;
}
.ach-p{
  width: 100%;
} 
.ach-p p{
  font-size: 36px;
  text-align: center;
 }
 .ach-img-1{
  display: flex;
  justify-content: start;
 }
 .ach-img-2{
  display: flex;
  justify-content: end;
 }
 .ach-img-3{
  display: flex;
  justify-content: start;
 }

 /* skills */
#p10{
  font-size: 36px;
  text-align: center;
}
.instrument-imgs{
  width: 100%;
  height: auto;
}
.skills{
  width: 100%;
  height: auto;
}
.all-inst{
  width: 100%;
}
.all-inst img{
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.insts{
  width: 60%;
}
.insts img{
  object-fit: cover;
}
.drum-fig{
  width: 30%;
  display: flex;
  justify-content: center;
}
.drum{
  width: 100%;
}
.cajon-fig{
  width: 30%;
  display: flex;
  justify-content: center;
}
.cajon{
  width: 100%;
}
.bonga-fig{
  width: 30%;
  display: flex;
  justify-content: center;
}
.bonga{
  
}
footer{
  width: 100%;
  height: 40vh;
  background-color: #f4f4f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
#contact{
  font-size: 36px;
}
figure{

}
.social-2{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
#fig-img{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}